<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Hello <%= name %>,</h1>

    <% if (name == 'Oluwafemi') { %>
        <p><%= name %> is correct</p>
    <% } else { %>
        <p><%= name %> is incorrect</p> 
    <% } %>

    <% if (score >= 0 && score <= 40) { %>
        <h3>Lagbaja failed</h3>
    <% } else if (score >= 41 && score <= 45) %>
        <h3>Lagbaja passed small</h3>
    

    
</body>
</html>